@import "../elementStyles/slideshow.css";
@import "../elementStyles/slantedHeaderWithBackArrow.css";

:root{
    --clr-neon: hsl(156.83 100% 71.57%);
    --clr-bkg: #343434;
    --font-apl: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html, body{
    margin: 0;
    background: var(--clr-bkg);
}
p{
    font-weight: bold;
}
/*top left back arrow*/
#back-arrow{
    padding-left: .5em;
    padding-top: .3em;
    font-size: 5rem;
    width: .75em;
    transition: 100ms linear;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    top: 0;
}
.fa-angle-left{
    position: absolute;
}
/*arrow shoot to the left*/
#back-icon-fade:hover{
    animation: move 1s infinite ;
}

@keyframes move {
    0% {transform: translateX(0px); opacity: 1;}
    90% {transform: translateX(-25px); opacity: 0;}
    100% {transform: translateX(0px); opacity: 0;}
}

/*.svg-inline--fa{
    color: var(--clr-bkg);
}*/

/*neon slanted header*/

/*.slanted-header{
    margin: 0; padding: 5em 5em 4em; color: #efefef;
    overflow:hidden;
    position: relative;
  }
  
.slanted-header::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    transform: skewY(-5deg);
    background: var(--clr-neon);
    transform-origin: bottom left;
    z-index: 0;
  }
*/
h1{
    color: white;
    text-align: center;
    font-family: var(--font-apl);
    margin-top: 10px;
}



.about-me-flexbox{
    display: flex;
    flex-direction: row;
    height: 70vh;
    width: 90%;
    margin-bottom: 2em;
    margin-left: 50px;
    margin-right: 50px;
}
.my-picture{
    max-width: 50%;
    margin-right: 0;
}
.my-bio{
    font-family: var(--font-apl);
    max-width: 40%;
    justify-content: center;
    color: white;
    align-items:center;
    margin: auto;
    
}

@media only screen and (max-width: 650px) {
    .about-me-flexbox{
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
    }
    .my-bio, .slideshow-container{
        max-width: 80%;
    }
}