@import "../elementStyles/slantedHeaderWithBackArrow.css";

:root{
    --clr-neon: hsl(156.83 100% 71.57%);
    --clr-bkg: #343434;
    --font-apl: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body{
    background-color: var(--clr-bkg);
    margin: 0;
}

.contact-container{
    display: flex;
    flex-direction: row;
    margin-top: -50px;
    width: 90%;
    height: 90%;
    margin: auto;
    align-items: center;
    margin-right: 1em;
}
.contact-container .left-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;

}

.contact-container .right-column {
    width: 50%;
    justify-content: center;
    align-items: center;
}

.contact-container .left-column .contact-info-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;

    color: white;
    font-family: var(--font-apl);
}

.contact-container .left-column .contact-info-container .contact-point{
    display: flex;
    align-items: center;
}

.contact-text{
    font-size: 1.25em;
    font-weight: 900;
    margin-left: 21px;
}

#contact-icon{
    margin-right: 2px;
    color: var(--clr-neon);
    font-size: 2em;
    width: 30px;
}

.contact-picture img{
    max-width: 100%;
}

@media only screen and (max-width: 700px) {
    .contact-picture img{
        visibility: hidden;
    }
    .contact-container .left-column{
        padding: 75px;
        padding-top: 100px;
        margin: auto;
    }
    .contact-container .left-column .contact-info-container{
        grid-gap: 30px;
    }
}